* {
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }

  body{
      width: 100%;
  }
   /*style header star*/
header{
    width: auto;
    margin: 30px 20px;
    display: flex;
    justify-content:space-around;
}

header a{
    width: auto;  
    text-decoration: none;
    color: rgb(204, 144, 32);
    font-size: 38px;    
}

header h4{
    width: auto;
    
    display: flex;
    font-size: 18px;
}

.information {
    background-color: rgb(255, 255, 255);
    border: 0px solid white;
    margin-top: 0px;
    font-size: 22px;
    
}

 /*style header end*/
  /*style main star*/
main{
    margin-top: 60px;
    display: flex;
    flex:1;
}

h3{
    font-size: 25px;
}
button {
    width: auto;
    background-color: rgb(248, 248, 248);
    padding: 10px ;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 10px;  
    text-align: center;
    font-size: 20px;
   
}

button:hover {background-color: rgb(10, 177, 32)}

.container {
    margin: auto;
    width: 500px;
    flex:1;
  }
.starquiz{
      margin-top: 60px;     
      flex:1;
  }
  .starquiz h2{
      text-align: center;
  }
.starquiz  p{
    text-align: justify;
     font-size: 25px;
 }
.starquiz  h2{
   margin: 15px 15px;
}

.formScore{
    margin-top: 60px;    
    flex:1;
}
.formScore h1{
    font-size:26px ;
}
.formScore label,p{
  font-size:24px;
  margin:5px  
}
.formScore input{
    height: 35px;
}
/*style for highscores.html*/
h1{
    
    margin-bottom: 15px;
}

.listscores ol li{
    font-size: 20px;
    background-color: rgb(243, 235, 235);
}

 /*style main end*/

 